.header {
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-grey-950);
  &__hr {
    width: 100%;
    border: 1px solid var(--color-grey-500);
    opacity: 0.2;
  }
}
