.diagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.p-organizationchart-line-down {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 7rem;
  background-color: var(--color-grey-700);
  color: var(--color-grey-25);
  overflow: hidden;
  padding: 0.25rem;
  font-size: 0.8rem;
  &__content {
    &__img {
      height: 4rem;
      width: 4rem;
      object-fit: cover;
      object-position: center;
    }
  }
}
