* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//imports
@import "./components/header.scss";
@import "./components/layout.scss";
@import "./pages/diagram.scss";
@import "./pages/homepage.scss";
